<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @project.contact_name %></h1>
    <p>
      Your project <%= @project.title %> has been picked up.<br>
    </p>
    <p>Please confirm with <%= @user.first_name %>, <%= @user.email %>

    <p>Thanks for joining and have a great day!</p>
    <p> Code Laborate Team</p>
  </body>
</html>
