<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <!-- <div class="welcome-email"> --> 
   <div style="background-color:light-grey; font-family:Verdana;font-size:12px">
    <h3>Welcome to Code-Laborate, 
      <%if @user.org_affiliate %>
       <%= @user.first_name %>
      <% else %>
       <%= @user.first_name %>
      <% end %>          
    </h3>  
      You have successfully signed up to code-laborate.herokuapp.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <h4 style="color:blue;">  &lt;code&gt;laborate Team </h4>
  </div>  
  </body>
</html>

