<h1>ABOUT &lt;code&gt;laborate</h1>

<h2>Background</h2>
<p>&lt;code&gt;laborate was developed by Dev Bootcamp students who were required to dive deep for a week into a final project at the end of their nine weeks of intensive onsite learning.  They wanted not only to integrate their newly acquired skills but to invest that energy into a product that was useful and helpful out in the world.  The hope is that this site will keep on giving by linking organizations, schools and activists to bootcampers. </p>

<h2>Computer Programming Bootcamp/ Intensive Coding School</h2>
<p>There are several bootcamps that have cropped up over the years.  Each bootcamp has its own curriculum, but most involve a final project.  Some are group projects and others are individual.

<p>At <a href='http://www.devbootcamp.com'>Dev Bootcamp</a>, where this app was developed, students spend their final of nine onsite weeks building a project of interest. Students pitch ideas on Thursday morning, vote on the projects, and then are assigned to a project with a team of 2-4 others. They then dive deep into the selected project for most of their waking hours over the next eight days.  They re-emerge the following Friday to present the final product. </p>

<h2>Pay It Forward</h2>
<p>Please spread the wealth- let people and organizations you know about this great opportunity connecting student developers with meaningful and useful projects. </p>
