<h1>FAQ's</h1>
<p>How do I get in touch with a developer?</p>
<p></p>

<p>What is the scope of what a developer or developer team can create?</p>
<p>Take a look at the past projects page.  Some are final projects and others are projects done by graduates.</p>

<p>What is the process for choosing a project?</p>
<p>Developers can see all available projects on the projects page.  Find a project of interest.  It is up to the developer to contact the organization and communicate clearly about what they want, what you can do, and each of your expectations.  Once you've selected a project  confirmed it as needed with your learning community, click the confirm button on your profile.  The organization will receive an email letting them know the project has been officially selected by you.</p>
