<h1>FAQ's</h1>
<p>How do I get in touch with a developer?</p>
<p>If your project sparks the interest of a developer, this person will contact the person listed on the project profile.</p>

<p>What is the scope of what a developer or developer team can create?</p>
<p>Take a look at the past projects page.  Some are final projects and others are projects done by graduates.  This will give you an idea of what can be done in a week's time by a student or group of students</p>

<p>What is the process for choosing a project?</p>
<p>Developers can see all available projects on the projects page.  Find a project of interest.  It is up to the developer to contact the organization and communicate clearly about what they want, what you can do, and each of your expectations.  Once you've selected a project and confirmed it as needed with your learning community, click the confirm button on your profile.  The organization will receive an email letting them know the project has been officially selected by you.</p>

<p>What if students choose my idea for a final project and it doesn't meet my needs?</p>
<p>Part of the understanding at the beginning is that students will do their best with no assurance that it will fit the needs of the organization.  Students may choose to continue to work on the project to meet your needs after they graduate, although this should be discussed between the two parties. </p>

<p>How can I improve the chances of my project getting picked?</p>
<p>Review the past projects to get an idea of the scope of what can be done. A project that is too simple with primarily static pages will be less interesting or challenging for students.  A very complicated app with extensive functionality may not be possible to finish in the allotted time.</p>

<p>What is a programming bootcamp?</p>
<p>It is an intensive learning program where students learn specific languages and spend upwards of 80 hours per week studying and practicing what they learn.  Most bootcamps involve a final project to incorporate what they've learned over the course of the program.</p>

<p>Is there a charge to organizations?</p>
<p>No. Any project done as a final project is done free of charge.  If the organization and student(s) make an agreement for future work, that is between them.</p>
