<div class="panel panel-default mission">
  <div class="panel-heading">
    <h3 class="panel-title">Mission Statement</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare erat nec est pharetra consectetur. Mauris et erat et turpis egestas finibus eleifend tincidunt nisi. Nulla commodo nisi at fermentum consequat. Mauris ac blandit dolor, sed maximus erat. Praesent nec sollicitudin magna. Vivamus id arcu tempor, volutpat est non, bibendum tellus. Fusce facilisis est felis, ut dapibus mi rhoncus a. Etiam a enim non ante iaculis sodales at in arcu. Integer commodo dapibus ipsum non consequat. Sed vestibulum ante ac iaculis ultrices. Curabitur auctor lectus nec odio accumsan, vel lobortis dolor tristique. Phasellus consequat leo eu vehicula pellentesque.
  </div>
</div>
<div class="panel panel-default purpose">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare erat nec est pharetra consectetur. Mauris et erat et turpis egestas finibus eleifend tincidunt nisi. Nulla commodo nisi at fermentum consequat. Mauris ac blandit dolor, sed maximus erat. Praesent nec sollicitudin magna. Vivamus id arcu tempor, volutpat est non, bibendum tellus. Fusce facilisis est felis, ut dapibus mi rhoncus a. Etiam a enim non ante iaculis sodales at in arcu. Integer commodo dapibus ipsum non consequat. Sed vestibulum ante ac iaculis ultrices. Curabitur auctor lectus nec odio accumsan, vel lobortis dolor tristique. Phasellus consequat leo eu vehicula pellentesque.
  </div>
</div>


