<div class="panel panel-default mission">
  <div class="panel-heading">
    <h3 class="panel-title">Mission</h3>
  </div>
  <div class="panel-body">
    To provide an active link between organizations and beginning programmers to build useful, meaningful technical tools.
  </div>
</div>
<div class="panel panel-default purpose">
  <div class="panel-heading">
    <h3 class="panel-title">How it Works</h3>
  </div>
  <div class="panel-body">
    Organizations can post a wish-list of projects.  Developers can browse, bookmark, and select projects and connect up with projects of interest.
  </div>
</div>


