<div class="panel panel-default" id="mission">
  <div class="panel-heading" id="header-info">
    <h3 class="panel-title" id="title-info">Mission</h3>
  </div>
  <div class="panel-body">
    To provide an active link between organizations and beginning programmers to build useful, meaningful technical tools.
  </div>
</div>
<div class="panel panel-default" id="purpose">
  <div class="panel-heading" id="header-info">
    <h3 class="panel-title" id="title-info">How it Works</h3>
  </div>
  <div class="panel-body">
    Organizations can post a wish-list of projects.  Developers can browse, bookmark, and select projects and connect up with projects of interest.
  </div>
</div>


