<div id="past-projects"><h1 id="past-projects-head">Past Projects Done by Bootcampers</h1>


  <div class="past_p">
    <figure>
      <a href= 'http://accountabuddy.herokuapp.com'><%= image_tag('accountabuddy.png', height: "240", width: "240", alt: "Image of AccountaBuddy home page", class: "img-responsive") %></a>
      <figcaption>Dev Bootcamp Final Project 2015</figcaption>
    </figure>
  </div>

  <div class="past_p">
    <figure>
      <a href= 'http://legislative.herokuapp.com'><%= image_tag('legislative.png',  height: "240", width: "240", alt: "Image of Legislative home page", class: "img-responsive") %></a>
      <figcaption>Dev Bootcamp Final Project 2015</figcaption>
    </figure>
  </div>

  <div class='past_p'>
    <a href= 'http://crowdj.io'><%= image_tag('crowdj.png', alt: "Image of crowdj logo", height: "240", width: "240", class: "img-responsive") %></a>
  </div>

  <div class='past_p'>
    <a href= 'http://code-laborate.herokuapp.com'><%= image_tag('codelaborate.png', alt: "Image of codelaborate", height: "240", width: "240", class: "img-responsive") %></a>
  </div>


