<h1>Past Projects Done by Bootcampers</h1>
<<<<<<< HEAD

<a href= 'http://accountabuddy.herokuapp.com/'>AccountaBuddy</a>
=======
<div class='row'>
  <div class='.col-xs-6 .col-md-4' >
  <a href= 'http://accountabuddy.herokuapp.com'><%= image_tag('accountabuddy.png', alt: "Image of AccountaBuddy home page", class: "img-responsive", class: "img-thumbnail") %></a>
  </div>
</div>
>>>>>>> f3cf1d3647c009ca69fd18cd10132a92556a2e5f
