<div>
  <h1>Projects</h1>
  <ul>
    <% if !current_user.org_affiliate %>
      <% @projects.each do |project| %>
        <li><%= link_to project.title, project %></li>
          <p>Vision: <%= project.vision %></p>
          <p><%= project.organization.name %></p>
      <% end %>
      <% @organizations.each do |organization| %>
        <% if organization.projects.first %>
          <li><%= link_to organization.projects.first.title, organization.projects.first %></li>
        <% end %>
      <% end %>
    <%else%>
      <li><% @project %></li>
    <% end %>
  </ul>
</div>


