<div>
  <h1>Projects</h1>
  <ul>
    <% if !current_user.org_affiliate %>
      <% @projects.each do |project| %>
        <li><%= link_to project.title, project %></li>
      <% end %>
    <%else%>
      <li><% @project %></li>
    <% end %>
  </ul>
</div>
