#devform{
  display: none;
}

#orgform{
  display: none;
}

.field_with_errors input{
  border: 1px solid red;
}
.field_with_errors textarea{
  border: 1px solid red;
}

#error_explanation{
  color: red;
}

.error_message {
  color: red;
}

.blue {
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px
}

.carousel-fade .carousel-inner > .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: .5;
}

.red {
  color: red;
}

#nav-bar {
  list-style: none;
}

#nav-bar li {
  display: inline;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

footer {
  text-align: right;
  background-color: gray;
  height: 80%;
  padding-top: 1%;
}
.required:after{
   content:"*";
   color:red;
}
