#devform{
  display: none;
}

#orgform{
  display: none;
}


.field_with_errors input{
  border: 1px solid red;
}
.field_with_errors textarea{
  border: 1px solid red;
}

#error_explanation{
  color: red;
}

.error_message {
  color: red;
}

#nav-bar {
  list-style: none;
}

#nav-bar li {
  display: inline;
}

/** {
    margin: 0;
}*/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

footer {
  text-align: right;
  background-color: gray;
  height: 80%;
  padding-top: 1%;
}

/*IMAGES*/

