#devform{
  display: none;
}

#orgform{
  display: none;
}

.field_with_errors input{
  border: 1px solid red;
}
.field_with_errors textarea{
  border: 1px solid red;
}

#error_explanation{
  color: red;
}

.error_message {
  color: red;
}

.blue {
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px
}
.carousel-inner > .item > img{
  width: 100%;
  border: 30px #eee solid
}

/*.carousel-fade .carousel-inner > .item {
  -webkit-transition-property: opacity .2s;
  -moz-transition-property: opacity .2s;
  -o-transition-property: opacity .2s;
  transition-property: opacity .2s;
}*/
.jumbotron .container {
  /*margin-left: 2em !important;*/
  /*margin-right: 2em !important;*/
}

.red {
  color: red;
}
.navbar-right{
  padding-top: .5%;
  padding-right: 2%;
  padding-bottom: .5%;
}

#nav-bar {
  list-style: none;
}

#nav-bar li {
  display: inline;
}

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

footer {
  text-align: right;
  background-color: gray;
  height: 80%;
  padding-top: 1%;
}
.required:after{
   content:"*";
   color:red;
}
.mission{
  margin: auto;
  width: 40%;
  border-radius: 20px;
  float: left !important;
  margin-left: 8%;
}
.purpose{
  margin: auto;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 25%;
  float: right !important;
  margin-right: 8%;
}
.panel-title{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.panel-heading{
  background-color: #C48189  !important;
  opacity: 0.8
}
.footer{
  clear:both;
}
#devform{
  clear:both;
  width: 84%;
  border-radius: 5px;
  margin-bottom: 5%;
  float: left !important;
  margin-left: 8%;
}
#orgform{
  clear:both;
  width: 84%;
  border-radius: 5px;
  margin-bottom: 5%;
  float: left !important;
  margin-left: 8%;
}
.org-sign-up{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
#org-sign-up-form{
  width: 80%;
  margin: auto
}
#update_org_form{
  width: 80%;
  margin: auto
}
.edit-developer-div{
  width: 80%;
  margin: auto
}
#new-logo{
  margin-top: 0 !important
}
#new-logo-h1{
  margin-top: 0
}
.org-name{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
#new-project{
  float: right;
  top: 0;
}
#delete-account{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
#edit-account{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%
}
.clearFloat{
  clear:both;
}




