#devform{
  display: none;
  border: solid 2px blue;
  padding: 2%;
}

#orgform{
  display: none;
  border: solid 2px orange;
  padding: 2%;
}
#panel-dev{
  color: black !important;
}

.field_with_errors input{
  border: 1px solid red;
}
.field_with_errors textarea{
  border: 1px solid red;
}

#error_explanation{
  color: red;
}

.error_message {
  color: red;
}

.right{
  width: 40%;
  display: inline-block;
  float: left;
}
.left-one{
  width: 48%;
  display: inline-block;
  float: left;
}
#block{
  clear:both;
}

.blue {
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px
}
.carousel-inner > .item > img{
  width: 100%;
  border: 30px #eee solid
}

.jumbotron .container {
  /*margin-left: 2em !important;*/
  /*margin-right: 2em !important;*/
}

.red {
  color: red;
}
.navbar-right{
  padding-top: .5%;
  padding-right: 2%;
  padding-bottom: .5%;
}

#nav-bar {
  list-style: none;
}

#nav-bar li {
  display: inline;
}

html, body {
    height: 100%;
}

.past_p {
  margin: 100px;
  float: left;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

footer {
  text-align: right;
  background-color: #20324f ;
  height: 80%;
  padding-top: 1%;
}
.required:after{
   content:"*";
   color:red;
}
.mission{
  margin: auto;
  width: 40%;
  border-radius: 20px;
  float: left !important;
  margin-left: 8%;
}
.purpose{
  margin: auto;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 25%;
  float: right !important;
  margin-right: 8%;
}
.panel-title{
  text-align: center;
  font-weight: bold;
  color: white !important;
  font-family:Arial, Helvetica, sans-serif;
}
.panel-heading{
  background-color: #4d0019  !important;
  opacity: 0.8
}
#panel-body-dev{
  background-color:#f0f0f5
}
.footer{
  clear:both;
  height: 8%;
  bottom: 0;
  background-color: #20324f
}

#footer-code{
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}
#devform{
  clear:both;
  width: 84%;
  border-radius: 5px;
  margin-bottom: 5%;
  float: left !important;
  margin-left: 8%;
}
#orgform{
  clear:both;
  width: 84%;
  border-radius: 5px;
  margin-bottom: 5%;
  float: left !important;
  margin-left: 8%;
}
.org-sign-up{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
#search{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;

}
#about-head{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;

}
#org-sign-up-form{
  width: 80%;
  margin: auto;
  border: solid 2px #4d0019;
  padding: 2%;
  background-color:#f0f0f5
}
#new_project_form{
  width: 80%;
  margin: auto;
  border: solid 2px #4d0019;
  padding: 2%;
  background-color:#f0f0f5

}

.media.projects-list{
  margin-bottom: 40px;
}

.project-list-vision {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  vertical-align: middle;
}

.projects-list p {
  margin-bottom: 5px;
}

.projects-list .project-title {
  font-weight: bold;
}

.projects-list .media-left {
}

.fa-bookmark-o {
  position: absolute;
}
.fa-bookmark{
  position: absolute;
}

#add-project-btn{
  float:right;
}
#sign-in-form{
  width: 50%;
  margin: auto;
  padding: 2%;
  border: solid 2px #4d0019
}
#welcome{
  float: left;
}
#update_org_form{
  width: 80%;
  margin: auto;
  border: solid 2px #4d0019;
  padding: 1.5%;
  background-color:#f0f0f5
}
.edit-developer-div{
  width: 80%;
  margin: auto;
  border: solid 2px #4d0019;
  padding: 1.5%;
  background-color:#f0f0f5;
  margin-bottom: 3%;
}
.edit-project-form{
  width: 80%;
  margin: auto
}
#new-logo{
  margin-top: 0 !important
}
#new-logo-h1{
  margin-top: 0
}
.org-name{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
#new-project{
  float: right;
  top: 0;
}
#delete-account{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
#edit-account{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%
}
.clearFloat{
  clear:both;
}
#choose-project{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
.project-proposal{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.new-project-header{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
.chosen{
  text-align: center;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
#abandon-project#get-project-edit#delete-project#complete-projecet{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
/*#get-project-edit{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
#delete-project{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}
#complete-project{
  display: inline-block;
  float:right;
  bottom: 0;
  margin: .5%;
}*/
#search-form{
float:right;
}
#projects-page{
  text-align: center
}
#check-box{
  list-style-type: none;
}
#past-projects{
  background-color: #4d0019;
  text-align: center;
}
#past-projects-head{
  color: white;
}





